*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    display: flex;
}

.side1{
    width:50%;
    height:100vh;
    background-image: url(Images/lisa-martinovska--design-setup-04-2.jpeg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.side2{
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.content{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    padding: 0 20% 0 20%;
}

.time{
    display: flex;
    gap:20px;
}

.heading h2{
    font-family: 'Bruno Ace SC', cursive;
    font-size:2rem;
}

.text1{
    line-height: 1.8;
    font-weight: 500;
}

.text2{
    color:rgb(100, 100, 100);
}

.number{
    font-size: 2rem;
    font-weight: 700;
}

.letters{
    font-size: 0.8rem;
    font-weight: 500;
}

.form{
    display: flex;
    gap:10px;
}

.input input{
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(230, 230, 230);
    border-style: none;
    padding: 9px;
    width:250px;
}

.button button{
    background-color: black;
    color: white;
    padding: 8px 30px 8px 30px;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
    cursor: pointer;
}

/* Mobile */

@media only screen and (max-width: 810px){
    .main{
        height: unset;
        flex-direction: column;
        gap:50px;
    }

    .side1{
        width:100%;
        height: 50vh;
    }

    .side2{
        width: 100%;
    }

    .content{
        height: unset;
        padding: 0 10% 0 10%;
    }
}

@media only screen and (max-width: 500px){
    .content{
        height: unset;
        padding: 0 5% 5% 5%;
    }

    .input{
        width: 100%;
    }

    .input input{
        width: 100%;
    }

    .form{
        flex-direction: column;
        width: 100%;
    }

    .button{
        width: 100%;
    }

    .button button{
        width:100%;
    }
}
